<div class="container-users">
    <div *ngIf="this.loggedUser.role == 'ADMIN'" class="users">
        <div class="users-list">
            <div class="header">
                <label class="username">Username</label>
                <label class="email">E-mail</label>
                <label class="name">Name</label>
                <label class="enabled">Enabled</label>
                <label class="role">Role</label>
                <label class="actions">Actions</label>
            </div>
            <mat-list>
                <mat-list-item *ngFor="let user of users">
                    <label class="username">{{user.username}}</label>
                    <label class="email">{{user.email}}</label>
                    <label class="name">{{user.name}}</label>
                    <label class="enabled">
                        <app-toggle-switch
                            [tooltip]="'Enable/Disable user'"
                            [checked]="user.enabled"
                            [width]="'52px'"
                            [height]="'26px'"
                            (onToggleChanged)="changeEnabled($event,user)"></app-toggle-switch>
                    </label>
                    <label class="role">
                        <select (change)="changeRole($event,user)" [disabled]="!user.enabled">
                            <option [selected]="user.role.roleName == 'USER'" [value]="user.role.roleName">USER</option>
                            <option [selected]="user.role.roleName == 'ADMIN'" [value]="user.role.roleName">ADMIN</option>
                        </select>
                    </label>
                    <label class="actions">
                        <mat-icon  fontSet="material-icons-outlined" matTooltip="Reset password" matTooltipPosition="left"
                            (click)="resetPassword(user)"
                            >password</mat-icon>
                    </label>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
    <div *ngIf="this.loggedUser.role == 'USER'" class="user">
        <div class="user-header">
            <label>Profile data</label>
        </div>
        <form [formGroup]="form">
            <div class="personal-data">
                <div class="field">
                    <label>Username:</label>
                    <input type="text" size="36" max-size="80" 
                        [matTooltip]="'Not editable'"
                        [matTooltipPosition]="'above'"
                        readonly
                        [formControlName]="'username'" 
                        (ngModelChange)="this.fieldEdited = true"/>
                </div>
                <div class="field">
                    <label>Password:</label>
                    <input type="text" size="36" max-size="80" 
                        [formControlName]="'password'"
                        (ngModelChange)="this.fieldEdited = true"/>
                </div>
                <div class="field">
                    <label>E-mail:</label>
                    <input type="text" size="36" max-size="80" 
                        [formControlName]="'email'"
                        (ngModelChange)="this.fieldEdited = true" />
                </div>
                <div class="field">
                    <label>Full name:</label>
                    <input type="text" size="36" max-size="80" 
                        [formControlName]="'name'"
                        (ngModelChange)="this.fieldEdited = true"/>
                </div>
                <div class="field">
                    <label>Role:</label>
                    <span>{{this.loggedUser.role}}</span>
                </div>
            </div>
        </form>
        <button mat-button [disabled]="!this.fieldEdited" (click)="updateUser()">Update</button>
    </div>
</div>
