<div class="tittle">
    <label>Login</label>
</div>
<div mat-dialog-content>
    <div class="message" >
        <mat-icon [ngClass]="this.type" fontSet="material-icons-outlined">{{this.type}}</mat-icon>
        <label>{{this.message}}</label>
    </div>
</div>

<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
        <mat-icon fontSet="material-icons-outlined">login</mat-icon>Login or Register</button>
    <!-- button mat-button [mat-dialog-close]="false" cdkFocusInitial>
        <mat-icon fontSet="material-icons-outlined">close</mat-icon>Close</button -->
</div>

