@import "../../../theme.scss";

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw!important;
    height: 100%;
    background-color:#b82929;
    .status{
        display: flex;
        width: 30%;
        color: white;
        border: 1px dashed white;
    }
    .icon-score{
        margin-left: 20px;
    }
    .icon-lacina{
        margin-right: 20px;
        height: 95%;
    }
    label{
        width: 80%!important;
        font-size: 1.4rem;
        margin-left: 10px;
    }
}