<div class="tittle">
    <label>Login</label>
</div>
<div mat-dialog-content>
    <form [formGroup]="form">
        <div class="credentials">
            <div class="field">
                <label>Username: </label>
                <input type="text" size="36" 
                    [formControlName]="'username'" 
                    placeholder="Enter your username" />
            </div>
            <div class="field">
                <label>Password: </label>
                <mat-icon *ngIf="!passVisible" class="eye" (click)="toggleVisibility()">visibility</mat-icon>
                <mat-icon *ngIf="passVisible" class="eye" (click)="toggleVisibility()">visibility_off</mat-icon>
                <input [type]="passVisible?'text':'password'" size="36"
                    placeholder="Enter your password" 
                    [formControlName]="'password'" />
            </div>
            <div class="field">
                <span *ngIf="!signup" (click)="toggleSignup()">Not registered? Sign up!</span>
                <span *ngIf="signup" (click)="toggleSignup()">Already registered? Just sign in!</span>
            </div>
            <div *ngIf="signup" class="field">
                <label>E-mail: </label>
                <input type="text" size="36" placeholder="Enter your e-mail"
                    [formControlName]="'email'" />
            </div>
            <div *ngIf="signup" class="field">
                <label>Name: </label>
                <input type="text" size="36" max-size="80" 
                    placeholder="Enter your full name" 
                    [formControlName]="'name'" />
            </div>
            <div *ngIf="signup" class="field">
                <label class="warning">Your user will be enabled after approval of an administrator!</label>
            </div>
        </div>
    </form>
    
    
</div>

<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="resetForm()">Cancel</button>
    <button mat-button [mat-dialog-close]="sendCredentials()" cdkFocusInitial>Ok</button>
</div>
