<div class="tittle">
    <label>Information about choosen arm</label>
</div>
<div mat-dialog-content>
    <div class="robot-info">
        <div class="joint-header">
            <label class="joint">
                Joint
            </label>
            <label class="min">
                Min value
            </label>
            <label class="max">
                Max value
            </label>
        </div>
        <div *ngFor="let joint of this.selectedRobot?.joints; let i = index" class="joint-info">
            <label class="joint">
                {{i + 1}}
            </label>
            <label class="min">
                {{joint.minimum}}
            </label>
            <label class="max">
                {{joint.maximum}}
            </label>
        </div>
    </div>

</div>

<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button>
</div>
