<div class="container-settings">
    <div class="general-params">
        <div class="list-label">
            General Paramaters
        </div>
        <div class="line">
            <label>Default waiting time for single movements (ms): </label>
            <input type="text" [(ngModel)]="mqttServ!.defaultPointTime" size="10" />
        </div>
    </div>
    <div class="user-servers">
        <div class="list-label">
            Servers
        </div>
        <!-- div class="line">
            <label>User (e-mail): </label>
            <input type="text" [(ngModel)]="mqttServ!.loggedUser.id" size="40"/>
        </div -->
        <div class="line">
            <label>Java server (API) URL: </label>
            <input type="text" [(ngModel)]="mqttServ!.javaApiUrl" size="40" />
        </div>
        <div class="line">
            <label>Mosquitto server URL: </label>
            <input type="text" [(ngModel)]="mqttServ!.brokerUrl" size="40" />
        </div>
    </div>
    <div class="container-robots-list">
        <div class="list-label">
            <label>Available controllers to connect</label>
            <mat-icon fontSet="material-icons-outlined" matTooltip="Refresh list" matTooltipPosition="above"
               (click)="refresh()" >refresh</mat-icon>
        </div>
        <div *ngIf="this.mqttServ?.availableRobots!.length > 0" class="robots-list">
            <mat-selection-list [multiple]="false">            
                <mat-list-option *ngFor="let robot of this.mqttServ?.availableRobots"
                    [selected]="robot.name == this.mqttServ?.selectedRobot?.name"
                    (selectedChange)="toggleSelect(robot,$event)">
                    {{robot.name}}
                </mat-list-option>
            </mat-selection-list>
        </div>
        <div *ngIf="this.mqttServ?.selectedRobot" class="robot-info">
            <div class="joint-header">
                <label class="joint">
                    Joint
                </label>
                <label class="min">
                    Minimum Angle
                </label>
                <label class="max">
                    Maximum Angle
                </label>
            </div>
            <div *ngFor="let joint of this.mqttServ?.selectedRobot?.joints; let i = index" class="joint-info">
                <label class="joint">
                    {{i + 1}}
                </label>
                <label class="min">
                    {{joint.minimum}}
                </label>
                <label class="max">
                    {{joint.maximum}}
                </label>
            </div>
        </div>
        
    </div>
</div>
