<div class="container-status-bar">
    <mat-icon *ngIf="this.selectedRobot" fontSet="material-icons-outlined" 
        matTooltip="Click to see info about the arm" 
        matTooltipPosition="above" 
        (click)="openInfoDialog()">info</mat-icon>
    <mat-form-field appearance="fill">
        <mat-label>Select an arm to connect</mat-label>
        <mat-select #selectRobot 
            (selectionChange)="robotSelected($event)"
            [disabled]="this.connected">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let robot of this.availableRobots" value="{{robot.name}}">{{robot.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <app-toogle-button
        [className]="className"
        [connected]="connected"
        [enableClass]="enableClassName"
        [searchingHome]="searchingHome"
        [tooltip]="tooltip"
        (onToggleChanged)="processConnectionToogle($event)"></app-toogle-button>
    <mat-icon class="logout" 
        [matTooltip]="this.loggedUser?.username" matTooltipPosition="above"
        fontSet="material-icons-outlined">person</mat-icon>
    <mat-icon class="logout" matTooltip="Logout" matTooltipPosition="above"
        (click)="logout()"
        fontSet="material-icons-outlined">logout</mat-icon>
</div>
