:root{
    --toogle-button-color:rgb(214, 211, 211);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.toggle {
    cursor: pointer;
    background-color: transparent;
}

.toggle-switch {
    display: flex;
    align-items: center;
    background-color: var(--toogle-button-color);
    border-radius: 16px;
    width: 60px;
    height: 26px;
    position: relative;
    vertical-align: middle;
    transition: background-color 0.25s;
    app-spinner{
        transform: translateX(4px)!important;
    }
}

.toggle-switch:before,
.toggle-switch:after {
    content: "";
}

.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 22px;
    height: 22px;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.25s;
}


.toggle:hover .toggle-switch:before {
    background-color: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
    //pointer-events: inherit !important
}

.toggle-checkbox:checked+.toggle-switch:before {
    left: 36px;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
    //pointer-events: inherit !important
}

.toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
    font-weight: 300;
    font-size: 1.0rem;
}

.free {
    background-color: rgb(107, 219, 107);
}

.busy {
    background-color: rgb(235, 160, 48);
}

.error {
    background-color: rgb(160, 21, 2);
}

.no-robot {
    color: rgb(94, 93, 93);
}

.unavailable {
    color: rgb(94, 93, 93);
    pointer-events: none !important;
}