<div class="container-single">
    <div class="list-points-moved">
        <div class="list-header">
            <label>Trajectory {{appliedPoints.length > 0 ? '(' + appliedPoints.length +')' : ''}}</label>
            <div class="header-buttons" >
                <mat-icon fontSet="material-icons-outlined" matTooltip="Add one point" matTooltipPosition="above"
                    [ngClass]="this.selectedRobot?'':'icon-disabled'"
                    (click)="openPointDialog()">add</mat-icon>
                <mat-icon fontSet="material-icons-outlined" matTooltip="Load points from file" matTooltipPosition="above"
                    [ngClass]="this.selectedRobot?'':'icon-disabled'"
                    (click)="verifyConditions($event)?fileInput.click():nothing()">upload</mat-icon>
                <mat-icon fontSet="material-icons-outlined" matTooltip="Clear list" matTooltipPosition="above" 
                    [ngClass]="this.appliedPoints.length > 0?'':'icon-disabled'"
                    (click)="clearPointList()">clear_all</mat-icon>
                <mat-icon fontSet="material-icons-outlined" matTooltip="Save as trajectory" matTooltipPosition="above" 
                    [ngClass]="this.appliedPoints.length > 0?'':'icon-disabled'" (click)="saveTrajectory()">save</mat-icon>
                <mat-icon *ngIf="!executingTrajectory" fontSet="material-icons-outlined" matTooltip="Send trajectory to arm" matTooltipPosition="above"
                    [ngClass]="this.appliedPoints.length > 0 && this.connected && !searchingHome?'':'icon-disabled'"
                    (click)="sendTrajectoryToArm()">play_arrow</mat-icon>
                <mat-icon *ngIf="executingTrajectory" fontSet="material-icons-outlined" matTooltip="Cancel trajectory execution" matTooltipPosition="above"
                    [ngClass]="this.appliedPoints.length > 0 && this.connected && !searchingHome?'':'icon-disabled'"
                    (click)="sendCancelTrajectory()">stop</mat-icon>
                
                <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
            </div>
        </div>
        <div class="list-points">
            <div cdkDropList class="drag-drop-list" (cdkDropListDropped)="drop($event)">
                <div class="drag-drop-box" *ngFor="let point of appliedPoints;let count = index" cdkDrag>
                    <div *ngFor="let field of joints;let i = index">
                        <span>{{field}}: </span>
                        <label matTooltip="{{point[i]}}" matTooltipPosition="above">{{point.coordinates[i].toFixed(2)}}</label>
                    </div>
                    <div class="icon-container" (click)="deletePoint(count)">
                        <mat-icon fontSet="material-icons-outlined">delete</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="trajectories">
        <label>Saved trajectories: </label>
        <div class="trajectory-list">
            <app-trajectory-table 
                [trajectories]="trajectories"
                [selectedRobot]="selectedRobot"
                (onUseTrajectory)="useTrajectory($event)"
                (onAddPoints)="addTrajectoryPoints($event)"
                (onSelectedTrajectory)="selectTrajectory($event)"
                (onDeleteTrajectory)="deleteTrajectory($event)"
                (onSortByUsername)="sortTrajectoriesByUsername()"></app-trajectory-table>
        </div>
    </div>
</div>
