<div class="container-single">
    
    <div class="move-to-point">
        <label>Move to point</label>
        <div class="point">
            <div class="empty-robot" *ngIf="!this.mqttServ?.selectedRobot">
                <mat-form-field appearance="fill">
                    <mat-label>Select an arm to connect</mat-label>
                    <mat-select (selectionChange)="robotSelected($event)">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let robot of this.mqttServ?.availableRobots" value="{{robot.name}}">{{robot.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            
            <form [formGroup]="form">
                <div class="joint" *ngFor="let field of joints">
                    <label>{{field}}: </label>
                    <input 
                        [formControlName]="field" 
                        placeholder="-" 
                        (ngModelChange)="jointChanged($event)"/>
                </div>
                
                <div class="buttons">
                    <button *ngIf="numberOfJoints > 0" (click)="clear()">Clear</button>
                    <button *ngIf="numberOfJoints > 0" (click)="moveToPoint()">Send to arm</button>
                    <!-- button *ngIf="numberOfJoints > 0" [disabled]="this.mqttServ?.connected == 'NO'" (click)="moveToPoint()">Move</button -->
                </div>
                
            </form>
        </div>
    </div>
    <div class="list-points-moved">
        <div class="list-header">
            <label>List of points ({{appliedPoints.length}})</label>
            <div class="header-buttons" >
                <mat-icon fontSet="material-icons-outlined" matTooltip="Clear list" matTooltipPosition="above" (click)="clearPointList()">clear_all</mat-icon>
                <mat-icon fontSet="material-icons-outlined" matTooltip="Save as trajectory" matTooltipPosition="above" [ngClass]="this.mqttServ?.selectedRobot?'':'icon-disabled'">save</mat-icon>
                <mat-icon fontSet="material-icons-outlined" matTooltip="Upload points from file" matTooltipPosition="above" 
                    [ngClass]="this.mqttServ?.selectedRobot?'':'icon-disabled'" (click)="verifyConditions($event)?fileInput.click():nothing()" >upload</mat-icon>
                <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
            </div>
        </div>
        <div class="list-points">
            <mat-list>
                <mat-list-item *ngFor="let point of appliedPoints" lines="6">
                    <div *ngFor="let field of joints;let i = index">
                        <span>{{field}}: </span>
                        <label matTooltip="{{point[i]}}" matTooltipPosition="above">{{point[i].toFixed(2)}}</label>
                    </div>
                    <div (click)="deletePoint(point)">
                        <mat-icon fontSet="material-icons-outlined" >delete</mat-icon>
                    </div>
                    
                </mat-list-item>
            </mat-list>
        </div>
    </div>
    <div class="trajectories">
        <label>Saved trajectories: </label>
        <div class="trajectory-list">
            <app-trajectory-table (onSelectedTrajectory)="selectTrajectory($event)"></app-trajectory-table>
        </div>
    </div>
</div>
