<div class="container-settings">
    <div class="header">
        <label>File conversion tool</label>
    </div>
    <div class="file">
        <label>Choose a file to upload:</label>
        <mat-icon fontSet="material-icons-outlined" matTooltip="Load file" matTooltipPosition="above"
            (click)="fileInput.click()">cloud_upload</mat-icon>
        <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
    </div>
    
    <div class="source">
        <label>Detected format:</label>
        <select (change)="changeSourceType($event)">
            <option [value]="1">Angles (Degrees)</option>
            <option [value]="2" selected>Angles (Radians)</option>
            <option [value]="3">Reference values</option>
            <!-- option [value]="4">Digital counters</option -->
        </select>
    </div>
    <div class="target">
        <label>Target format:</label>
        <select (change)="changeTargetType($event)">
            <option [value]="1" selected>Angles (Degrees)</option>
            <option [value]="2">Angles (Radians)</option>
            <option [value]="3">Reference values</option>
            <!-- option [value]="4">Digital counters</option -->
        </select>
    </div>
    <div class="buttons">
        <label>Action:</label>
        <button (click)="exportToTsv()" [disabled]="!this.fileContent">
            Save in TSV
        </button>
        <button (click)="exportToJson()" [disabled]="!this.fileContent">
            Save in JSON
        </button>
    </div>
    
    
</div>
