<div class="container-movements">
    <div class="movements-trajectories">
        <app-single
            (onSimulationPointsChanged)="updateSimulationGraph($event)"></app-single>
    </div>
    <div class="graph">
        <div class="toggle">
            <app-toogle-button
                (onToggleChanged)="switchGraph($event)"></app-toogle-button>
        </div>
        <div class="graphs">
            <div class="planned" [ngClass]="!toogleChecked?'visible':'invisible'">
                <app-graphplot [graphSubject]="simGraphSubject"></app-graphplot>
            </div>
            <div class="planned" [ngClass]="toogleChecked?'visible':'invisible'">
                <app-graphplot 
                    [graphSubject]="realGraphSubject"></app-graphplot>
            </div>
        </div>
        
    </div>
</div>


