<div class="container-movements">
    <div class="movements-trajectories">
        <app-single
            (onSimulationPointsChanged)="updateSimulationGraph($event)"></app-single>
    </div>
    <div class="graph">
        <div class="graphs">
            <div class="planned" [ngClass]="!toogleChecked?'visible':'invisible'">
                <app-graphplot 
                    [simGraphSubject]="simGraphSubject"
                    [realGraphSubject]="realGraphSubject"></app-graphplot>
            </div>
        </div>
        
    </div>
</div>


