<div class="container-movements">
    <div class="movements-trajectories">
        <mat-tab-group 
            mat-stretch-tabs="false" 
            mat-align-tabs="start" 
            animationDuration="0ms" 
            [dynamicHeight]="false">
            <mat-tab label="Single Movements">
                <div class="container-content">
                    <app-single></app-single>
                </div>
            </mat-tab>
            <mat-tab label="Trajectories">
                <div class="container-content">
                    <app-trajectories></app-trajectories>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="graph">
        <div class="planned">
            <app-graph></app-graph>
        </div>
        <!-- div class="executed">
            <app-graph></app-graph>
        </div  -->
    </div>
</div>


